/************ Fonts *************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/************ Variables *************/

 :root {
    --hue: 266;
    --satueation: 70%;
    --lightness: 55%;
    --main-color: hsl(var(--hue), var(--satueation), var(--lightness));
    --main-color-dcv: hsl(var(--hue) var(--satueation) var(--lightness) / 82%);
    --main-color-light: hsl(var(--hue) var(--satueation) var(--lightness) / 31%);
    --main-color-x-light: hsl(var(--hue) var(--satueation) var(--lightness) / 12%);
    --gradient-hover-img: to bottom, hsl(var(--hue) var(--satueation) var(--lightness) / 1%) 0, hsl(var(--hue) var(--satueation) var(--lightness) / 25%) 25%, hsl(var(--hue) var(--satueation) var(--lightness) / 80%) 75%, hsl(var(--hue) var(--satueation) var(--lightness) / 100%) 100%;
    /************ Text Colors *************/
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 96%);
    --text-x-dark-gray: hsl(0, 0%, 10%);
    --text-dark-gray: hsl(0, 0%, 20%);
    /************ bg Colors *************/
    --body-bg-color: hsl(var(--hue), 60%, 94%);
    --bg-color: hsl(var(--hue), 60%, 96%);
    --bg-white: hsl(0, 0%, 100%);
    /************ Border Colors *************/
    --border-color: hsl(var(--hue), 48%, 80%);
    /************ shadow Colors *************/
    --shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.3);
    --focus-shadow: 0 0 10px hsla(var(--hue), 57%, 63%, 0.6);
    /************ font size *************/
    --fs-4xl: 50px;
    --fs-3xl: 35px;
    --fs-2xl: 26px;
    --fs-1xl: 20px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 14px;
}


/************ Override variables for dark theme *************/

body.t-dark {
    /************ Text Colors *************/
    --text-x-dark-gray: hsl(0, 0%, 94%);
    --text-dark-gray: hsl(0, 0%, 84%);
    /************ bg Colors *************/
    --body-bg-color: hsl(var(--hue), 20%, 10%);
    --bg-color: hsl(var(--hue), 13%, 17%);
    /************ Border Colors *************/
    --border-color: hsl(var(--hue), 15%, 30%);
    /************ shadow Colors *************/
    --shadow: 0 0 10px hsla(var(--hue), 19%, 7%, 0.9);
}


/************ base *************/

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-size: var(--fs-md);
    line-height: 1.5;
    color: var(--text-dark-gray);
    background-color: var(--body-bg-color);
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-x-dark-gray);
    line-height: 1.3;
}

p {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

::selection {
    color: var(--text-white);
    background: var(--main-color);
}

::-webkit-scrollbar {
    width: 5px;
    overflow-x: hidden;
}

::-webkit-scrollbar-track {
    background-color: var(--body-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}


/********************* Page  Section wrapper ********************/

.page-wrapper {
    overflow: hidden;
}


/************ Container *************/

.container {
    max-width: 1170px;
    margin: auto;
    padding: 15px;
}

.container canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/************ Start Section Grid *************/

.d-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}


/************ End Section Grid *************/


/************ Start go Down *************/

.go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    color: var(--main-color);
    transform: translateX(-50%);
    font-size: 25px;
    transition: all .5s ease;
    z-index: 0;
}

.go-down i {
    animation: bouncing 5s ease infinite;
}

@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}


/************ End go Down *************/


/************ Start Preloader  *************/

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-body);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader.fade-out {
    opacity: 0;
    transition: opacity .6s ease;
}

.preloader div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-left: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    animation: preloader 2s linear infinite;
}

@keyframes preloader {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/************ End Preloader *************/


/************ Start Section Title *************/

.section-pending {
    padding: 60px 0;
    position: relative;
}

.section-title {
    text-align: center;
    margin-bottom: 45px;
}

.section-title .title {
    display: inline-block;
    font-size: var(--fs-1xl);
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 12px;
    padding: 0 40px;
    position: relative;
}

.section-title .title::before,
.section-title .title::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 30px;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
}

.section-title .title:before {
    left: 0;
}

.section-title .title:after {
    right: 0;
}


/************  End Section Title *************/


/************ Start Section Header *************/

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-body);
    box-shadow: var(--shadow);
    z-index: -1;
    transform: translateY(calc(-100% - 10px));
    transition: transform .5s ease;
}

.header.bg-reveal::before {
    transform: translateY(0);
    backdrop-filter: blur(100px);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo a,
.footer .logo a {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    display: block;
    transform: scaleY(0.9);
    letter-spacing: 2px;
}

.header .logo span,
.footer .logo span {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-dark-gray);
    letter-spacing: 1px;
    text-align: center;
    position: relative;
}

.header .logo span::before,
.footer .logo span::before {
    content: "";
    position: absolute;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-top: 2px solid var(--text-dark-gray);
    border-right: 2px solid transparent;
    border-left: 0px solid transparent;
}

.nav li {
    display: inline-block;
    margin-left: 35px;
}

.nav a {
    text-transform: capitalize;
    font-size: var(--fs-md);
    color: var(--text-x-dark-gray);
    font-weight: 400;
    display: block;
    padding: 10px 0;
    transition: color .3s ease;
    position: relative;
}

.nav a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    bottom: 6px;
    left: 0;
    width: 0%;
    height: 3px;
    transform: translateX(-50%);
    transition: all .3s ease;
    opacity: 0;
}

.nav a:hover::before {
    opacity: 1;
    left: 50%;
    width: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    color: var(--main-color);
}

.nav a.active::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    bottom: 6px;
    left: 50%;
    width: 50%;
    height: 3px;
    transform: translateX(-50%);
    transition: all .3s ease;
}

.nav li a.active,
.nav a:hover {
    color: var(--main-color);
}

.nav-toggler {
    display: none;
}


/************ End Section Header *************/


/************ Start Section Home *************/

.home {
    padding: 100px 0 60px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.home-text,
.home-img {
    grid-column: span 6;
    align-self: center;
}

.home-text h1 {
    font-size: var(--fs-4xl);
    margin: 0 0 20px;
    text-transform: capitalize;
}

.home-text p {
    margin: 0 0 30px;
}

.home-img {
    position: relative;
    overflow: hidden;
    animation: up_and_down 5s linear infinite;
}

.home-img .circle-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
}

.home-img .circle-wrap .circle {
    height: 350px;
    width: 350px;
    border-radius: 51% 49% 51% 49% / 56% 62% 38% 44%;
    background-color: var(--main-color);
    transform: translate(-25%, -50%);
}

.home-img img {
    max-width: 370px;
    display: block;
    margin: auto;
    margin-right: 0;
}

@keyframes up_and_down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}

.auto-typing {
    position: relative;
    color: var(--main-color);
}

.auto-typing:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--body-bg-color);
    border-left: 2px solid var(--main-color);
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%,
    60% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}


/* Button */

.btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-wrap a {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    background-color: var(--text-x-dark-gray);
    display: inline-flex;
    border-radius: 50%;
    color: var(--bg-white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.btn-wrap a:hover {
    transform: rotate(360deg) scale(1.2);
    background-color: var(--main-color);
}


/************  End Section Home *************/


/************ Start Section About *************/

.about .about-img {
    grid-column: span 5;
}

.about .about-text {
    grid-column: span 7;
}

.img-box {
    width: 300px;
    padding: 5px;
    background-color: var(--bg-color);
    position: relative;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.img-box img {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: filter .5s ease;
}

.img-box img:hover {
    filter: grayscale(80%);
}

.img-box::before {
    content: "";
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: transparent;
    display: block;
    border-right: 45px solid var(--main-color-light);
    border-top: 45px solid var(--main-color);
    right: -23px;
    top: -20px;
    z-index: -1;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.img-box .social-icons {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    right: -30px;
    top: 58%;
}

.img-box .social-icons a {
    width: 25px;
    height: 25px;
    display: inline-flex;
    background-color: var(--main-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    border: 1px solid transparent;
    transition: all .5s ease;
    color: var(--bg-white);
}

.img-box .social-icons a:hover {
    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.img-box .social-icons a:hover i {
    transform: scale(1.1);
}

.about .section-title {
    text-align: left;
    margin: 0 0 15px;
}


/* Button Download CV */

.button {
    position: relative;
    height: 50px;
    width: 220px;
    background: var(--main-color-dcv);
    border-radius: 55px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    overflow: hidden;
    margin-top: 40px;
}

.button.active-button {
    height: 15px;
    width: 300px;
}

.button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    top: 0;
    background: var(--main-color);
    border-radius: 55px;
}

.button.active-button::before {
    animation: layer 3s ease-in-out forwards;
}

@keyframes layer {
    100% {
        left: 0%;
    }
}

.button .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    transition-delay: .2s;
}

.button.active-button .content {
    transform: translateY(60px);
}

.content i,
.content .button-text {
    color: var(--bg-white);
    font-size: 20px;
}

.content .button-text {
    font-weight: 500;
    font-size: 17px;
    margin-left: 8px;
}


/************  End Section About *************/


/************  Start Section Skills *************/

.skills .skills_progress,
.skills .skills_img {
    grid-column: span 6;
}

.skills .skills_img {
    align-self: center;
}

.skills__subTitle {
    margin-bottom: 16px;
}

.skills__text {
    margin-bottom: 32px;
    color: var(--text-x-dark-gray);
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: .5rem 1rem;
    margin-bottom: 32px;
    border-radius: .5rem;
    background: var(--bg-color);
    box-shadow: 0 4px 25px rgba(12, 36, 49, .15);
    z-index: 1;
}

.skills__icon {
    font-size: 2rem;
    margin-right: 16px;
    color: var(--main-color);
}

.skills__names {
    display: flex;
    align-items: center;
    color: var(--text-dark-gray)
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    height: 0.25rem;
    border-radius: .5rem;
    z-index: -11;
}

.skills__percentage {
    color: var(--text-dark-gray);
}

.skills__subTitle {
    color: var(--text-dark-gray);
}

.skills__html {
    width: 95%;
}

.skills__css {
    width: 85%;
}

.skills__js {
    width: 60%;
}

.skills__php {
    width: 90%;
}

.skills__java {
    width: 50%;
}

.skills__py {
    width: 50%;
}

.skills__sql {
    width: 80%;
}

.skills__data.last p {
    width: 100%;
    letter-spacing: 10px;
    font-size: 22px;
    text-align: center;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 7px;
}

.skills__img {
    border-radius: .5rem;
}


/************  End Section Skills *************/


/************  Start Section Services *************/

.serv-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.services .serviceBox {
    position: relative;
    background-color: var(--bg-color);
    border-radius: 20px;
    max-width: 350px;
    height: 280px;
    box-shadow: var(--shadow);
    border-radius: 20px;
}

.serviceBox .serv-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color-light);
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition-delay: .25s;
    border-radius: 20px;
}

.serviceBox:hover .serv-icon {
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 47% 53% / 34% 34% 66% 66%;
    transition-delay: 0s;
}

.serviceBox .serv-icon i {
    font-size: 5em;
    color: var(--main-color);
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.25s;
}

.serviceBox:hover .serv-icon i {
    font-size: 2em;
    transition-delay: 0s;
}

.serviceBox .serv-content {
    position: relative;
    padding: 120px 20px 20px 20px;
    color: var(--main-color);
    text-align: center;
    z-index: 1;
    transform: scale(0);
    transition: all .5s;
    transition-delay: 0s;
}

.serviceBox:hover .serv-content {
    transform: scale(1);
    transition-delay: .25s;
}

.serviceBox .serv-content h2 {
    font-size: var(--fs-2xl);
    margin-top: 10px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.serviceBox .serv-content p {
    font-weight: 300;
    line-height: 1.5em;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 14px;
}


/************  End Section Services *************/


/************  Start Section Projects *************/

.d-grid.pro-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.projects-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    border: 1px solid var(--focus-shadow);
}

.projects-filter li {
    margin: 10px;
    padding: 5px 20px;
    color: var(--main-color);
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
}

.projects-filter li.projects-filter-active {
    background-color: var(--main-color-light);
    border-radius: 20px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project .itemBox {
    max-width: 100%;
    /* grid-column: span 4; */
    border-radius: 20px;
    background: var(--bg-color);
    box-shadow: var(--shadow);
}

.project .itemBox.hide {
    transition: all .5s ease;
    display: none;
}

.project .itemBox img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.work__img {
    overflow: hidden;
    text-align: center;
    position: relative;
}

.img-text,
.work__img:after {
    width: 100%;
    position: absolute;
    left: 0;
}

.work__img:after {
    content: "";
    height: 100%;
    bottom: 0;
    transition: .5s;
}

.work__img:hover:after {
    background: linear-gradient(var(--gradient-hover-img));
}

.img-text {
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1;
    transform: translateY(160px);
    transition: all .5s cubic-bezier(0.13, .62, 0.81, .91) 0s;
}

.img-text h3 {
    color: var(--text-white);
    font-size: 25px;
    margin-bottom: 20px;
}

.img-text small {
    color: var(--text-white);
    font-size: 15px;
}

.work__img:hover .img-text {
    transform: translateY(20px);
}

.work__img img {
    transition: 1s;
    cursor: pointer;
    height: 100%;
}

.work__img img:hover {
    transform: scale(1.1);
}

.itemBox.work__img.mobile-app {
    height: 183px;
    width: 100%;
    background-image: url('../imgs/app-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -67px right;
}


/************  End Section Projects *************/


/************  Start Section Contact *************/

.contact__container .contact__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__content .left-side {
    width: 25%;
    height: 100%;
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__content .left-side::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
}

.left-side .details {
    margin: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-side .details i {
    width: 50px;
    height: 50px;
    background-color: var(--main-color-x-light);
    font-size: 30px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 51% 49% 49% 51% / 37% 36% 64% 63%;
}

.left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-x-dark-gray);
}

.left-side .details .text-one,
.left-side .details .text-two {
    font-size: 14px;
    color: var(--text-dark-gray);
}

.contact__content .right-side {
    width: 75%;
    margin-left: 75px;
}

.right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: var(--text-x-dark-gray);
}

.right-side p {
    /* text-align: center; */
    margin: 10px 0px 10px 0px;
    color: var(--text-dark-gray);
}

@media (max-width:820px) {
    .contact__container .contact__content {
        flex-direction: column-reverse;
    }
    .contact__content .left-side {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .contact__content .left-side::before {
        display: none;
    }
    .contact__content .right-side {
        width: 100%;
        margin-left: 0;
    }
}

form {
    width: 100%;
    margin: 0 auto;
}

.inputBox {
    width: 100%;
    position: relative;
    margin-bottom: 25px;
}

.inputBox .contact__input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-color-light);
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    font-size: 1em;
    color: var(--text-dark-gray);
}

.inputBox .spn-floating {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: var(--text-x-dark-gray);
    text-transform: uppercase;
    transition: .5s;
}

.inputBox .contact__input:valid,
.inputBox .contact__input:focus {
    border-color: var(--main-color);
}

.inputBox .contact__input:valid~span,
.inputBox .contact__input:focus~span {
    transform: translateY(-7px) translateX(10px);
    font-size: .65em;
    padding: 0 10px;
    color: var(--text-white);
    background: var(--main-color);
    border-radius: 2px;
    letter-spacing: .2em;
}

textarea.contact__input {
    resize: none;
    height: 150px;
}

.inputBox i {
    position: absolute;
    top: 15px;
    right: 10px;
    visibility: hidden;
}

.inputBox small {
    display: none;
    color: red;
    font-size: 12px;
}

.contact__button {
    display: block;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
}

.inputBox .characters {
    position: absolute;
    bottom: 0;
    right: -10px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    color: var(--main-color);
    display: none;
}

.inputBox.active-l .characters {
    display: block;
}

.inputBox.error .characters {
    color: red;
}

.inputBox.error textarea.contact__input {
    border-color: red;
}

.inputBox.error .contact__input:valid~span,
.inputBox.error .contact__input:focus~span {
    background-color: red;
}

.text {
    position: relative;
}

.text.first-text {
    color: #fff;
}

.text.sec-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--degree-dark);
    border-left: 2px solid var(--first-color);
    animation: animate 4s steps(8) infinite;
}

@keyframes animate {
    40%,
    60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0%;
    }
}

.inputBox.vfexx .contact__input:valid~span,
.inputBox.vfexx .contact__input:focus~span {
    background-color: red;
}

.inputBox.vfexx .contact__input:valid~span~i,
.inputBox.vfexx .contact__input:focus~span~i {
    color: red;
}

.inputBox.vfsxx .contact__input:valid,
.inputBox.vfsxx .contact__input:focus {
    border: 1px solid #48ff00;
}

.inputBox.vfexx .contact__input:valid,
.inputBox.vfexx .contact__input:focus {
    border: 1px solid red;
}

.inputBox.vfsxx .contact__input:valid~span,
.inputBox.vfsxx .contact__input:focus~span {
    background-color: #48ff00;
}

.inputBox.vfsxx .contact__input:valid~span~i.vfsixx,
.inputBox.vfsxx .contact__input:focus~span~i.vfsixx {
    color: #48ff00;
    visibility: visible;
}

.inputBox.vfexx .contact__input:valid~span~i.vfeixx,
.inputBox.vfexx .contact__input:focus~span~i.vfeixx {
    color: red;
    visibility: visible;
}

.inputBox.vfexx small {
    display: block;
}

.inputBox.vfexx .characters {
    bottom: 17px;
}

.button_c {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-transform: uppercase;
    color: var(--text-x-dark-gray);
    background-color: var(--main-color-light);
    letter-spacing: 2px;
    font-size: 16px;
    transition: .5s;
}

.button_c:hover {
    color: rgba(255, 255, 255, 1);
}

.button_c span {
    display: block;
    position: absolute;
    background: var(--main-color);
}

.button_c span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s;
}

.button_c:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
}

.button_c span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.button_c:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .5s;
}

.button_c span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .5s;
    transition-delay: .3s;
}

.button_c:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform .5s;
    transition-delay: .3s;
}

.button_c span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
    transition-delay: .3s;
}

.button_c:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform .5s;
    transition-delay: .3s;
}

.button_c i {
    transition: .4s;
    /* transition-delay: .4s; */
}

.button_c:hover i {
    transform: translateX(70%);
}


/************  End Section Contact *************/


/************  Start Section Footer *************/

.footer {
    margin-top: 40px;
    background-color: var(--main-color);
    color: var(--text-white);
    text-align: center;
    font-weight: 500;
    padding: 2rem 0;
}

.footer .logo.footer__title a {
    color: var(--text-white);
}

.footer .logo span {
    color: var(--text-light-gray);
}

.footer .logo span::before {
    border-top-color: var(--text-light-gray);
}

.footer__title {
    font-size: 25px;
    margin-bottom: 30px;
}

.footer__social {
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__social a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: var(--main-color-x-light);
    cursor: pointer;
    overflow: hidden;
    margin-left: 20px;
    color: var(--text-white);
    z-index: 1000;
    border: 1px solid var(--body-bg-color);
}

.footer__social a::before,
.footer__social a::after {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -2;
    filter: blur(5px);
    transition: all .5s ease;
}

.footer__social a::before {
    bottom: 50%;
    left: 50%;
}

.footer__social a::after {
    top: 50%;
    right: 50%;
}

.footer__social a.facebook::before {
    background-color: dodgerblue;
    box-shadow: 1px 1px 60px #1773ea;
}

.footer__social a.facebook::after {
    background-color: #085fcf;
    box-shadow: 1px 1px 60px #085fcf;
}

.footer__social a.insta::before {
    background: linear-gradient(200deg, #5554cc, #f4c969, #d92a74);
    box-shadow: 1px 1px 60px #e141b1;
}

.footer__social a.insta::after {
    background: linear-gradient(-260deg, #d92a74, #f4c969, #5554cc);
    box-shadow: 1px 1px 60px #ff00b3;
}

.footer__social a.linkedin::before {
    background-color: #0a66c2;
    box-shadow: 1px 1px 60px #0a66c2;
}

.footer__social a.linkedin::after {
    background-color: #095bad;
    box-shadow: 1px 1px 60px #0a57a5;
}

.footer__social a.github::before {
    background-color: rgb(54, 54, 54);
    box-shadow: 1px 1px 60px rgb(54, 54, 54);
}

.footer__social a.github::after {
    background-color: rgb(5, 5, 5);
    box-shadow: 1px 1px 60px rgb(5, 5, 5);
}

.footer__social a:hover:before {
    animation: slide1 .5s linear forwards;
}

.footer__social a:hover:after {
    animation: slide2 .5s linear forwards;
}

@keyframes slide1 {
    100% {
        bottom: 0;
        left: 0;
        border-radius: 0;
    }
}

@keyframes slide2 {
    100% {
        top: 0;
        right: 0;
        border-radius: 0;
    }
}

.footer__social a i {
    transition: transform .4s cubic-bezier(0.23, 1, 0.320, 1);
}

.footer__social a:hover i {
    transform: scale(1.2);
}

.footer span {
    font-size: var(--fs-sm);
}


/************  End Section Footer *************/


/************  Start Section Responsive *************/

@media (max-width:1199px) {
    .about-img .box-1 {
        top: 100%;
        left: 50%;
    }
}

@media (max-width:991px) {
    /************ Variables *************/
     :root {
        --fs-4xl: 42px;
        --fs-3xl: 31px;
        --fs-2xl: 24px;
    }
    /************ Home *************/
    .home-img img {
        max-width: 320px;
    }
    .home-img .circle-wrap .circle {
        height: 200px;
        width: 200px;
    }
    /************ About *************/
    .about .about-img,
    .about .about-text {
        grid-column: span 6;
    }
    /************ Services *************/
    .serviceBox .serv-content h2 {
        font-size: var(--fs-1xl);
    }
}

@media (max-width:767px) {
    /************ Variables *************/
     :root {
        --fs-4xl: 35px;
        --fs-3xl: 26px;
        --fs-2xl: 22px;
        --fs-1xl: 18px;
    }
    /************ Header *************/
    .nav-toggler {
        display: block;
        height: 34px;
        width: 40px;
        border: none;
        z-index: 1;
        background: transparent;
        cursor: pointer;
    }
    .nav-toggler span {
        display: block;
        height: 2px;
        width: 24px;
        background: var(--main-color);
        margin: auto;
        position: relative;
        transition: background .3s ease;
    }
    .nav-toggler.active span {
        background-color: transparent;
    }
    .nav-toggler span:before,
    .nav-toggler span:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        transition: transform .3s ease;
    }
    .nav-toggler span:before {
        transform: translateY(-7px);
    }
    .nav-toggler.active span:before {
        transform: rotate(45deg);
    }
    .nav-toggler span:after {
        transform: translateY(7px);
    }
    .nav-toggler.active span:after {
        transform: rotate(-45deg);
    }
    .nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 260px;
        background-color: var(--bg-color);
        padding: 60px 30px 30px;
        overflow-y: auto;
        transform: translateX(100%);
        transition: all .3s ease;
    }
    .nav.open {
        transform: translateX(0);
        box-shadow: var(--shadow);
    }
    .nav li {
        display: block;
        margin: 0;
    }
    .nav a {
        font-size: var(--fs-1xl);
    }
    .nav li+li {
        border-top: 1px solid var(--border-color);
    }
    .nav li {
        display: flex;
        justify-content: center;
    }
    .nav a::before {
        content: "";
        position: absolute;
        background-color: var(--main-color);
        bottom: 5px;
        left: 0;
        width: 0px;
        height: 5px;
        transform: translateX(-50%);
        transition: all .3s ease;
        opacity: 0;
    }
    .nav a:hover::before {
        opacity: 1;
        left: 50%;
        width: 5px;
        border-radius: 10px;
        transform: translateX(-50%);
        color: var(--main-color);
    }
    /************ Home *************/
    .home-text,
    .home-img {
        grid-column: span 12;
    }
    .home-img {
        order: -1;
        margin: 20px 0;
    }
    .home-img img {
        margin: auto;
    }
    .home-img .circle-wrap .circle {
        height: 200px;
        width: 200px;
    }
    /************ About *************/
    .about .about-img,
    .about .about-text {
        grid-column: span 12;
    }
    .about .about-img {
        justify-self: center;
    }
    .about .about-text {
        order: -1;
        margin-bottom: 20px;
    }
    .about .section-title {
        text-align: center;
    }
    /************ Skills *************/
    .skills .skills_progress,
    .skills .skills_img {
        grid-column: span 12;
    }
    .skills .skills_img {
        order: -1;
    }
}

@media (max-width:575px) {
    /************ Grid *************/
    .d-grid {
        gap: 20px;
    }
    /************ Home *************/
    .home-img img {
        max-width: 220px;
    }
    .home-text h1 {
        font-size: var(--fs-3xl);
    }
    /************ About *************/
    .img-box {
        width: 250px;
    }
    .img-box img {
        border-radius: 40px;
    }
    .img-box::before {
        display: none;
    }
    .img-box .social-icons {
        flex-direction: row;
        right: 50%;
        bottom: 0;
        transform: translate(50%, 85px);
    }
}